@model List<PDAIntenacionalEjercicio.Models.Alumno>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Alumnos</h1>
@Html.ActionLink("Cargar alumno", "Create", "Alumno", null, new { @class = "btn btn-primary btn-large" })


<table class="table">
    <thead>
        <tr>
            <th scope="col">Acccion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">DNI</th>
            <th scope="col">Carrera</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var alumno in Model)
        {
            <tr>
                <th scope="row"><a class="btn btn-primary btn-large" href="/Alumno/Detalle/@alumno.Id">Ver</a></th>
                <td>@alumno.Nombre</td>
                <td>@alumno.Apellido</td>
                <td>@alumno.DNI</td>
                <td>@alumno.Carrera</td>
            </tr>
        }
    </tbody>
</table>



